// Миксин для переноса текста, который не помещается в границы своего контейнера.
// Такие баги хорошо вылезают на узком разрешении экрана или на необычно длинных словах,
// которым не хватает места.
@mixin word-wrap {
	white-space: normal;
	overflow-wrap: break-word;
	word-break: break-word;
}
