// Переменные чаще всего определяют в :root или html
:root {
  --primary: #00adff;
  --primary-active: #31bdff;
  --secondary: #aad4e8;
  --secondary-light: #ecf8ff;
  --gray: #eee;

  --text-primary: #151522;
  --text-secondary: #89a4b4;
  --text-active: var(--primary);
  --text-light: #5a5b65;
  --text-inverted: #fff;

  --background-1: #fff;
  --background-2: var(--gray);

  --font: 'Roboto', 'Arial', sans-serif;
  --font-size-default: 14px;
  --font-size-large: 16px;
  --font-size-xl: 19px;
}